/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    margin-top: -8px;
    padding: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

ul {
    margin: 0;
}

p {
    margin: 0;
}


/* spacing margin and padding */

.mar0 {
    margin: 0px !important;
}

.marRL5 {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.marR10 {
    margin-right: 10px !important;
}

.pad0 {
    padding: 0px !important;
}

.pad5 {
    padding: 5px !important;
}

.pad5T {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.pad510 {
    padding: 5px 10px !important;
}

.pad105 {
    padding: 10px 5px !important;
}

.padRL5 {
    padding: 0px 5px !important;
}

.padRL10 {
    padding: 0px 10px !important;
}

.bor0 {
    border: 0 !important;
}

.borT0 {
    border-top: 0 !important;
}

.pad10 {
    padding: 10px !important;
}

.padT70 {
    padding-top: 70px !important;
}

.padL10 {
    padding-left: 10px !important;
}

.pad-rit-15 {
    padding-right: 15px !important;
}

.pad-top-20 {
    padding-top: 20px !important;
}